<div @profileTransitions>
  <app-profile (sticky)="handleStickyEvent($event)"></app-profile>
</div>

<div #bioInfoBox class="bio-info">
  <a href="../../../assets/cv.pdf">
    <button class="curriculum-btn" href="../../../assets/cv.pdf" @bioInfoTransitions><i class="fas fa-link fa-xs"></i> Resume</button>
  </a>

  <p class="bio-text" @bioInfoTransitions>
    I'm a Software Developer specialized on using technologies like Angular, Vue, and 
    Node for creating modern and optimized web applications. I mainly specialize on Front-End 
    development but have experience working with API services on Node and Java as well as 
    data analysis and manipulation with Python. <br><br>

    I graduated on 2019 with a Bachelor of Engineering on Software Development from 
    Universidad Tecmilenio Las Torres on Monterrey, Mexico. Before that, I worked as an 
    intern for 2 years, developing several web applications and innovative projects on a small startup
    called Softher. While I worked there, I learned to use Vue, Node, and Mongo, as well as 
    AWS and scrum methodologies. <br><br>

    Currently, I'm working at Accenture as an Application Development Analyst, specializing 
    on Front End Development with Angular and Node. In there I learned to work with bigger teams and projects 
    while collaborating with teammates from around the world.
  </p>

  <div class="tldr-box">
    <p @bioInfoTransitions>
      <b>TL;DR </b>I develop Web Applications on Angular and Vue as well as API services on Node and Java.
    </p>
  </div>

  <div class="powered-box" @bioInfoTransitions>
    <i class="col fab fa-angular fa-3x"></i>
    <i class="angular-link">Powered by Angular</i>
  </div>
</div>