.scrolled {
  margin-top: 100px;
}

.bio-info {
  background: #659999; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #659999, #f4791f); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #659999, #f4791f);
  text-align: center;

  .bio-text {
    margin: auto;
    padding: 30px 0px;
    color: white;
    width: 70%;
  }
}
