<app-profile></app-profile>

<div class="bio-info">
  <p>
    Mauricio is a Software Developer specialized on using technologies like Angular, Vue, and 
    Node for creating modern and optimized web applications. Is mainly specialized on Front-End 
    development but has experience working with API services on Node and Java as well as 
    data analysis and manipulation with Python. <br><br>

    He graduated on 2019 with a Bachelor of Engineering on Software Development from 
    Universidad Tecmilenio Las Torres on Monterrey, Mexico. Before that he worked as an 
    intern for 2 years, developing a several web applications and innovative projects on a small startup
    called Softher. While he worked there, he learned to use Vue, Node, and Mongo, as well as 
    AWS and scrum methodologies. <br><br>

    Currently, he is working on Accenture as an Application Development Analyst, specializing 
    on Front End Development with Angular and Node. In there he learned to work with bigger teams and projects 
    while collaborating with teammates from around the world.

  </p>
</div>