<div class="footer-box container">
  <div class="row justify-content-around">
    <i class="col fab fa-linkedin-in fa-lg footer-icon" title="Linkedin" (click)="sendToSocialMedia('linkedin')"></i>
    <i class="col fab fa-github fa-lg footer-icon" title="Github" (click)="sendToSocialMedia('github')"></i>
    <i class="col fab fa-instagram fa-lg footer-icon" title="Instagram" (click)="sendToSocialMedia('instagram')"></i>
    <i class="col fab fa-twitter fa-lg footer-icon" title="Twitter" (click)="sendToSocialMedia('twitter')"></i>
  </div>
</div>
