<h2 class="comp-title">Personal projects</h2>

<div class="comp-content">
  <div class="project-content tecnitool-project">
    <h3 class="project-title">Tecnitool</h3>
    <p class="project-text">
      Mobile app developed with Vue and compiled with Cordova for native use
      on Android and iOS devices. This is an app used by IT support to register
      clients and devices, while also registering repairs and maintenances on 
      their devices. With dashboard to analyze data with ChartJS and its own 
      API service with Node and Mongo.
    </p>
  
    <div class="project-links">
      <p><i class="fas fa-link fa-xs"></i><a class="project-link" (click)="openExternalLink('https://github.com/modi98/tecnitool-webapp')"> Front End repo</a></p>
      <p><i class="fas fa-link fa-xs"></i><a class="project-link" (click)="openExternalLink('https://github.com/modi98/tecnitool-server')"> API repo</a></p>
    </div>
  </div>

  <div class="divider"></div>
  <div class="project-content blog-project">
    <h3 class="project-title">Blog Web Application</h3>
    <p class="project-text">
      Simple blog application that lets you add multiple blogs with details and lets 
      users add comments. Used Angular Material, RxJS, and custom API service on Node 
      with Mongo.
    </p>
  
    <div class="project-links">
      <p><i class="fas fa-link fa-xs"></i><a class="project-link" (click)="openExternalLink('https://github.com/modi98/Blog-webapp')"> Front End repo</a></p>
      <p><i class="fas fa-link fa-xs"></i><a class="project-link" (click)="openExternalLink('https://github.com/modi98/Blog-api')"> API repo</a></p>
    </div>
  </div>
  
  <div class="divider"></div>
  <div class="project-content restfulws-project">
    <h3 class="project-title">Restful Webservice</h3>
    <p class="project-text">
      Web service API created on Java with Spring for handling users and files.
    </p>
  
    <div class="project-links">
      <p><i class="fas fa-link fa-xs"></i><a class="project-link" (click)="openExternalLink('https://github.com/modi98/fbcmd4j')"> API repo</a></p>
    </div>
  </div>
</div>
