.comp-title {
  padding: 20px 0px;
  font-size: 23px;
  text-align: center;
  position: fixed;
  background-color: white;
  width: 100%;
}

.comp-content {
  padding-top: 67px;
}

.project-title {
  text-align: center;
  font-size: 22px;
}

.project-text {
  margin: auto;
  width: 70%;
  text-align: center;
}

.project-links {
  padding: 20px 0px;
  text-align: center;
  .project-link {
    cursor: pointer;
    text-align: center;
    border-bottom: solid 1px white;
  }
}

.divider {
  margin: 20px 0px;
}

.project-content {
  padding: 20px 0px;
  color: white;
}

.tecnitool-project {
  background: #11998e;
  background: -webkit-linear-gradient(to right, #11998e, #38ef7d);
  background: linear-gradient(to right, #11998e, #38ef7d);
}

.blog-project {
  background: #fc4a1a;
  background: -webkit-linear-gradient(to right, #fc4a1a, #f7b733);
  background: linear-gradient(to right, #fc4a1a, #f7b733);
}

.restfulws-project {
  background: #fc5c7d;
  background: -webkit-linear-gradient(to right, #fc5c7d, #6a82fb);
  background: linear-gradient(to right, #fc5c7d, #6a82fb);
}