<h2 class="comp-title">Skills</h2>

<div class="comp-content">
  <div class="skill-box">
    <h3 class="category-title">Front End</h3>

    <div class="container">
      <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <p>HTML - <b>Proficient</b></p>

      <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <p>CSS - <b>Advanced</b></p>

      <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <p>Javascript - <b>Advanced</b></p>
    </div>
  </div>

  <div class="frontend skill-box">
    <h3 class="category-title">Javascript Frameworks</h3>

    <div class="container skill">
      <div class="row justify-space-around">
        <div class="col-4 skill-icon">
          <i class="fab fa-angular fa-5x"></i>
        </div>

        <p class="col-8 skill-text">
          <b>Angular:</b> Advanced experience using RsJS, Angualr Material, and maintaining big projects.
        </p>
      </div>
    </div>

    <div class="container skill">
      <div class="row justify-space-around">
        <p class="col-8 skill-text">
          <b>Vue:</b> Proficient experience developing responsive web applications.
        </p>

        <div class="col-4 skill-icon">
          <i class="fab fa-vuejs fa-5x"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="skill-box">
    <h3 class="category-title">Back End</h3>

    <div class="container">
      <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <p>Node - <b>Advanced</b></p>

      <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <p>Java - <b>Intermediate</b></p>

      <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <p>Mongo - <b>Advanced</b></p>

      <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <p>SQL - <b>Intermediate</b></p>
    </div>
  </div>

  <div class="backend skill-box">
    <h3 class="category-title">Backend Libraries</h3>

    <div class="container skill">
      <div class="row justify-space-around">
        <div class="col-4 skill-icon">
          <i class="fas fa-shipping-fast fa-4x"></i>
        </div>

        <p class="col-8 skill-text">
          <b>Express:</b> Created scalable API services for HTTP request handling.
        </p>
      </div>
    </div>

    <div class="container skill">
      <div class="row justify-space-around">
        <p class="col-8 skill-text">
          <b>Mongoose:</b> Worked with modeling noSQL databases as well as creating aggregate functions for data analysis.
        </p>

        <div class="col-4 skill-icon">
          <i class="fas fa-database fa-4x"></i>
        </div>
      </div>
    </div>
  </div>
</div>
